/*
.board {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.clear {
float:none;
clear:both;
}

.board li{
	float:left;
}

.upperrow {
text-align: center;
}

.middlerow {
text-align: center;
}

.bottomrow{
text-align: center;
}*/
